device
xclbin U C:/code/phlegm/tools/open-kernels/designs/gemv_q4/build_exp_up/final.xclbin
kernelx gexp U C:/code/phlegm/tools/open-kernels/designs/gemv_q4/build_exp_up/insts.bin
xclbin M C:/code/phlegm/tools/open-kernels/designs/silu_mul/build/final.xclbin
kernelx sm M C:/code/phlegm/tools/open-kernels/designs/silu_mul/build/insts.bin
buf xm0 4096
buf wu00 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wu00.bin
buf wg00 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wg00.bin
buf wu01 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wu01.bin
buf wg01 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wg01.bin
buf wu02 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wu02.bin
buf wg02 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wg02.bin
buf wu03 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wu03.bin
buf wg03 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wg03.bin
buf wu04 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wu04.bin
buf wg04 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wg04.bin
buf wu05 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wu05.bin
buf wg05 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wg05.bin
buf wu06 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wu06.bin
buf wg06 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wg06.bin
buf wu07 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wu07.bin
buf wg07 655360 C:/code/phlegm/tools/open-kernels/designs/decode_chain/w27/wg07.bin
buf u00 2048
buf g00 2048
buf u01 2048
buf g01 2048
buf u02 2048
buf g02 2048
buf u03 2048
buf g03 2048
buf u04 2048
buf g04 2048
buf u05 2048
buf g05 2048
buf u06 2048
buf g06 2048
buf u07 2048
buf g07 2048
buf h00 1024
# --- A: 16 individual submits (warm-up first)
run gexp wu00 xm0 u00
run gexp wu00 xm0 u00
run gexp wg00 xm0 g00
run gexp wu01 xm0 u01
run gexp wg01 xm0 g01
run gexp wu02 xm0 u02
run gexp wg02 xm0 g02
run gexp wu03 xm0 u03
run gexp wg03 xm0 g03
run gexp wu04 xm0 u04
run gexp wg04 xm0 g04
run gexp wu05 xm0 u05
run gexp wg05 xm0 g05
run gexp wu06 xm0 u06
run gexp wg06 xm0 g06
run gexp wu07 xm0 u07
run gexp wg07 xm0 g07
# --- floor probe: the 512-element silu_mul, alone
run sm g00 u00 h00
run sm g00 u00 h00
run sm g00 u00 h00
# --- B: runlists of 2, 4, 8, 16 in one context
runlist U
runx gexp wu00 xm0 u00
runx gexp wg00 xm0 g00
submit
runlist U
runx gexp wu00 xm0 u00
runx gexp wg00 xm0 g00
runx gexp wu01 xm0 u01
runx gexp wg01 xm0 g01
submit
runlist U
runx gexp wu00 xm0 u00
runx gexp wg00 xm0 g00
runx gexp wu01 xm0 u01
runx gexp wg01 xm0 g01
runx gexp wu02 xm0 u02
runx gexp wg02 xm0 g02
runx gexp wu03 xm0 u03
runx gexp wg03 xm0 g03
submit
runlist U
runx gexp wu00 xm0 u00
runx gexp wg00 xm0 g00
runx gexp wu01 xm0 u01
runx gexp wg01 xm0 g01
runx gexp wu02 xm0 u02
runx gexp wg02 xm0 g02
runx gexp wu03 xm0 u03
runx gexp wg03 xm0 g03
runx gexp wu04 xm0 u04
runx gexp wg04 xm0 g04
runx gexp wu05 xm0 u05
runx gexp wg05 xm0 g05
runx gexp wu06 xm0 u06
runx gexp wg06 xm0 g06
runx gexp wu07 xm0 u07
runx gexp wg07 xm0 g07
submit
# --- D: alternating contexts, individual submits (the decode chain's pattern)
run gexp wu00 xm0 u00
run sm g00 u00 h00
run gexp wg00 xm0 g00
run sm g00 u00 h00
run gexp wu01 xm0 u01
run sm g00 u00 h00
run gexp wg01 xm0 g01
run sm g00 u00 h00
# --- C: silu_mul x8 as one runlist (pure floor)
runlist M
runx sm g00 u00 h00
runx sm g00 u00 h00
runx sm g00 u00 h00
runx sm g00 u00 h00
runx sm g00 u00 h00
runx sm g00 u00 h00
runx sm g00 u00 h00
runx sm g00 u00 h00
submit
